#title {
    margin-top: 0px;
    margin-bottom: 10px;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#container {
    display: flex;
    flex-direction: column;
    width: 800px;
    height: 800px;
    border: 1px black solid;
}
.column {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}
